@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <!-- Content here -->



    <div class="jumbotron">
        <h1>Hornos Roberto Navarro</h1>
        <p class="lead"> </p>
        <br />
        <p><a href="#" class="btn btn-primary btn-lg">&laquo; Seleccione una opción del menú </a></p>
    </div>

    

</div>