@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <!-- Content here -->



    <div class="jumbotron text-center">
        <h1>Hornos Roberto Navarro</h1>


        <img src="~/Resources/logo_transp.png" class="img-fluid" style="width: 150px;" />
        <br />
        <br />
        <a href="#" class="btn btn btn-success btn-lg">&laquo; Seleccione una opción del menú </a>
    </div>

    

</div>