<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ERROR-ViewBag.Proveedor</title>
</head>
<body>
    <hgroup>
        <h2>ViewBag.Mensaje</h2>
        <hr />
        <h4>ViewBag.Exception</h4>        
    </hgroup>
    <hgroup>
        <h5>@Html.ActionLink("Volver", (string)ViewBag.Redirection);</h5>
    </hgroup>
</body>
</html>
