<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @{
        ViewBag.Title = "ERROR ("+ @ViewBag.Proveedor+")";
    }
    <div>
        <hgroup>
            <h3>@ViewBag.Proveedor</h3>
            <hr />
            <h3>@ViewBag.Mensaje</h3>
        </hgroup>
        <br />
        <hgroup>
            <h5>
                <a href="../@ViewBag.Controller/@ViewBag.Redirection" class="btn btn-block btn-pill btn-success" style="color:white !important; width:100%; position:relative;">Volver</a>
            @*@Html.ActionLink("Volver",(string)@ViewBag.Redirection,(string)@ViewBag.Controller)*@
            </h5>
        </hgroup>
    </div>
</body>
</html>
