
/* -------------------------------------------------------------
    
              CSS Hornos Roberto Navarro 

  -------------------------------------------------------------*/



/* Elementos */
a {
    color: #6aa765;
}

a:hover {
    color: #57b846;
    text-decoration: underline;
}

/* Clases Personales */

.hrn-btnadd {
    border-color: #57b846 !important;
    background-color: #57b846 !important;
    font-weight: bold !important;
    box-shadow: none;
}



/* Clases Bootstrap */
.bg-primary {
    background-color: #6aa765 !important;
}



.btn-outline-info {
    background-color: transparent;
    background-image: none;
    border-color: #4db115;
    color: #4db115;
}

.btn-success {
    color: #fff;
    border-color: #57b846;
    background-color: #57b846;
    box-shadow: none;
}


.page-item {
    box-shadow: none !important;
}


.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: none !important;
    background: none !important;
    border-color: #57b846 !important;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #6aa765;
    border-color: #6aa765;
}

.hrn-hr {
    border: 0 !important;
    height: 1px !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)) !important;
}

/* Data Tables*/

.dataTables_wrapper .dataTables_filter {
    text-align: center !important;
}

/* Titulo Detalle */


.hrn-titMae {
    color: #fff;
    background: #6aa765 !important;
}


.hrn-titdet {
    color: #616161;
    text-shadow: #e0e0e0 1px 1px 0;
    background: #b9e264 !important;
    font-style: italic !important;
}

